@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;  
}

nav {
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px; 
}

nav > img {
  margin-right: 20px;
}



.card--position {
  position: relative;
  left: 25%;
}

.card {
  display: flex;
  align-items: center;
  margin: 50px;  
  
}

.card--state {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}

.card--location {
  display: flex;
  align-items: center;
  
  
}

.card--location > h3 {
  margin: 0 10px;
}

.card--content {
  display: block;  
}

.card--content > h1, p {
  margin-top: 10px;
  width: 40%;
}

